@model TimeReportingSystem.Models.Activity

@{
    ViewData["Title"] = "Edytuj projekt: " + ViewData["ProjectCode"];
    @* var min = Int32.Parse(ViewData["Budget"].ToString()); *@
    @* double minutes = 60; *@
    double minutes = Model.budget / 60;
}
<h1>@ViewData["Title"]</h1>

<div class="col col-4 justify-content-lg-start">
    <form asp-action="Edit" id="form">
        @Html.HiddenFor(model => Model.TimeStamp)
        <div class="form-horizontal">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="name">Nazwa projektu</label>
                <input asp-for="name" class="form-control" value="@Model.name">
            </div>
            <div class="form-group">
                <label asp-for="code">Kod projektu</label>
                <input asp-for="code" class="form-control" readonly value="@Model.code">
                <input type="hidden" asp-for="manager" value="@ViewData["User"]" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="budget">Budżet (w godzinach)</label><br>
                <input type="number" asp-for="budget" class="form-control" id="changeToMinutes" value="@minutes" min="1" step="1">
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Zatwierdź zamiany" class="btn btn-primary"/>
                <a href="##" onClick="history.go(-1); return false;" class="btn btn-warning">Anuluj</a>
            </div>
        </div>
    </form>
</div>
