@model IEnumerable<TimeReportingSystem.Models.Activity>
@{
    ViewData["Title"] = "Otwarte Projekty";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <th>
            Nazwa Projektu
        </th>
        <th>
            Kod projektu
        </th>
        <th>
            Nazwisko managera
        </th>
        <th>
            Budżet
        </th>
        <th>
            Pod aktywności
        </th>
    </thead>
     <tbody>
        @foreach (var item in Model)
        {
            @if(item.active){
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.manager.surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.budget)
                    </td>
                    <td>
                        <ul>
                            @foreach (var i in item.subactivities)
                            {
                                <li>@i.code</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
            
        }

    </tbody>
</table>